<!DOCTYPE html>

{% load staticfiles %}

<html>

  <head>
    <title>
      About Rango
    </title>
  </head>

  <body>
    <h1> About Developer</h1>

      <div>
      I hope you are enjoying the project. This is my first django project, thanks for visiting. <br />
      <strong> {{ boldmessage }}</strong> <br />
      </div>

      <div>
        <a href= "/rango/">Back </a> <br />
        <img src="{{ MEDIA_URL }}karan.jpg"
             alt="Picture of Karan" />
      </div>

  </body>

</html>
